Debug/
Release/
Acrolinx.Sidebar.SDK/Debug
Acrolinx.Sidebar.SDK/Release
Acrolinx.Sidebar.SDK/Acrolinx.Sidebar.SDK.vcxproj.user
Acrolinx.Sidebar.SDK/Acrolinx.Sidebar.SDK.aps
Acrolinx.Sidebar.SDK/Acrolinx.Sidebar.SDK_i.c
Acrolinx.Sidebar.SDK/Acrolinx.Sidebar.SDK_i.h
Acrolinx.Sidebar.SDK/AcrolinxSidebarSDK_p.c
Acrolinx.Sidebar.SDK/dlldata.c
Acrolinx.Sidebar.SDK.sdf
Acrolinx.Sidebar.SDK.suo
Acrolinx.Sidebar.SDK.opensdf
ipch/
Acrolinx.Sidebar.SDK.VC.db
.vs
Acrolinx.Sidebar.SDK.Test/Interop
Acrolinx.Sidebar.SDK.Test/Acrolinx.Sidebar.SDK.Test.vcxproj.user
UpgradeLog.htm
distrib/x86/Acrolinx.Sidebar.SDK.dll
distrib/x86/Acrolinx.Sidebar.SDK.lib
distrib/x86/Acrolinx.Sidebar.SDK.pdb
distrib/x86/Acrolinx.Sidebar.SDK.tlb
distrib/x86/AcrolinxInterface.h
packages
node_modules
Acrolinx.Sidebar.SDK/startpage.zip
